@font-face {
  font-family: 'mugshot';
  src:  url('fonts/mugshot.eot?vsvrbo');
  src:  url('fonts/mugshot.eot?vsvrbo#iefix') format('embedded-opentype'),
    url('fonts/mugshot.ttf?vsvrbo') format('truetype'),
    url('fonts/mugshot.woff?vsvrbo') format('woff'),
    url('fonts/mugshot.svg?vsvrbo#mugshot') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mugshot-icon {
  font-family: 'mugshot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mugshot-icon-capone:before {
  content: "\e900";
}

.mugshot-icon-cross:before {
  content: "\ea0f";
}

.mugshot-frame {
  pointer-events: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1500;
}

.mugshot-frame {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1500;
}

#theImage:hover .mugshot-frame,
#theImage:hover .mugshot-active {
  border: 2px solid #ccc;
  border-radius: 2px;
}

#theImage:hover .mugshot-frame:not(.mugshot-active) .mugshot-frame-name {
    display: block;
}

.mugshot-frame-name {
  background: #fff;
  border-radius: 2px;
  display: none;
  left: 50%;
  padding: 1px 4px;
  position: absolute;
  top: calc(100% + 6px);
  transform: translateX(-50%);
  white-space: nowrap;
}

.mugshot-frame-name::before {
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  width: 0;
}

.mugshot-frame-name:hover {
  color: inherit;
}

.mugshot-active {
  visibility: visible !important;
}

.mugshot-frame:hover .mugshot-delete {
  visibility: visible;
}

.mugshot-mousetrap {
  pointer-events: none;
}

.mugshot-active {
  visibility: visible !important;
}

.mugshot-textbox {
  background: white;
  color: black;
  font-family: "arial-black";
  font-size: 16px;
  margin: 5px 0 0 0;
  max-width: 150px;
  padding: 0 0 0 6px;
  pointer-events: auto;
  position: absolute;
  visibility: hidden;
}

.mugshot-done-button {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 32px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  text-decoration: none;
  visibility: hidden;
  z-index: 1500;
}

.mugshot-delete {
  align-content: center;
  background-color: red;
  border: none;
  color: white;
  float: right;
  font-weight: bold;
  margin-right: -3px;
  margin-top: -3px;
  padding: 1px 2px 1px 2px;
  visibility: hidden;
  z-index: 1600;
}

.mugshot-delete:hover {
  cursor: pointer;
}

.mugshot-done-button::after {
  content: "SAVE";
}

.mugshot-tag-list {
  background: white;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  display: none;
  list-style-type: none;
  margin-top: 3px;
  padding: 6px 6px;
  pointer-events: auto;
  position: absolute;
  z-index: 1500;
}

.mugshot-tag-list li {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: none;
  font-family: "arial-black";
  font-size: 16px;
  max-width: 150px;
  padding: 0 0 0 6px;
  z-index: 1500;
}

.mugshot-tag-list-show {
  display: block !important;
}

#MugShotDiv {
  /*border: 1px solid red;*/
  display: inline-block;
  overflow: visible;
  pointer-events: none;
  position: absolute;
}

#theImage {
  overflow: hidden;
  position: relative;
}
