@font-face {
  font-family: 'mugshot';
  src:  url('fonts/mugshot.eot?vsvrbo');
  src:  url('fonts/mugshot.eot?vsvrbo#iefix') format('embedded-opentype'),
    url('fonts/mugshot.ttf?vsvrbo') format('truetype'),
    url('fonts/mugshot.woff?vsvrbo') format('woff'),
    url('fonts/mugshot.svg?vsvrbo#mugshot') format('svg');
  font-weight: normal;
  font-style: normal;
}

.mugshot-icon {
  font-family: 'mugshot' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mugshot-icon-capone:before {
  content: "\e900";
}

.mugshot-icon-cross:before {
  content: "\ea0f";
}

.mugshot-frame {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1500;
}

.mugshot-frame:hover:not(.mugshot-active) {
  cursor: pointer;
  opacity: 0.6;
}

.mugshot-frame:hover .mugshot-delete {
  visibility: visible;
}

.mugshot-mousetrap {
  pointer-events: none;
}

.mugshot-frame:hover,
.mugshot-active:not(.mugshot-textbox):not(.mugshot-done-button):not(.mugshot-delete) {
  border:3px dashed white;
}

.mugshot-active {
  visibility: visible !important;
}

.mugshot-textbox {
  background: white;
  color: black;
  font-family: "arial-black";
  font-size: 16px;
  margin: 5px 0 0 0;
  max-width: 150px;
  padding: 0 0 0 6px;
  position: absolute;
  visibility: hidden;
}

.mugshot-done-button {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 32px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  visibility: hidden;
  z-index: 1500;
}

.mugshot-delete {
  align-content: center;
  background-color: red;
  border: none;
  color: white;
  float: right;
  font-weight: bold;
  margin-right: -3px;
  margin-top: -3px;
  padding: 1px 2px 1px 2px;
  visibility: hidden;
  z-index: 1600;
}

.mugshot-delete:hover {
  cursor: pointer;
}

.mugshot-done-button::after {
  content: "SAVE";
}

.mugshot-tag-list {
  background: white;
  background-color: white;
  border: 1px solid grey;
  border-radius: 4px;
  display: none;
  list-style-type: none;
  margin-top: 3px;
  padding: 6px 6px;
  position: absolute;
  z-index: 1500;
}

.mugshot-tag-list li {
  border-radius: 4px;
  color: black;
  cursor: pointer;
  display: none;
  font-family: "arial-black";
  font-size: 16px;
  max-width: 150px;
  padding: 0 0 0 6px;
  z-index: 1500;
}

.mugshot-tag-list-show {
  display: block !important;
}
