.mugshot-frame {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1500;
}

#theImage:hover .mugshot-frame,
#theImage:hover .mugshot-active {
  border: 2px solid #ccc;
  border-radius: 2px;
}

#theImage:hover .mugshot-frame-name {
    display: block;
}

.mugshot-frame-name {
  background: #fff;
  border-radius: 2px;
  display: none;
  left: 50%;
  padding: 1px 4px;
  position: absolute;
  top: calc(100% + 6px);
  transform: translateX(-50%);
  white-space: nowrap;
}

.mugshot-frame-name::before {
  border-bottom: 4px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  content: ' ';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: -4px;
  transform: translateX(-50%);
  width: 0;
}

.mugshot-frame-name:hover {
  color: inherit;
}

.mugshot-active {
  visibility: visible !important;
}
