.mugshot-frame {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: visible;
  z-index: 1500;
}

.mugshot-frame:hover:not(.mugshot-active) {
  cursor: pointer;
  opacity: 0.6;
}

.mugshot-frame:hover,
.mugshot-active {
  border:3px dashed white;
}

.mugshot-active {
  visibility: visible !important;
}
